.DS_Store
.idea

data/2007_train.txt
data/2007_val.txt
data/2007_test.txt
data/2012_train.txt
data/2012_val.txt
data/train.txt
data/test.txt
data/VOCdevkit/
checkpoints/checkpoint
checkpoints/ckpt*
*.tar
evaluation

__pycache__
test.jpg
test.png
test2.png
test3.png
test_1.png
test_x.png
src/show_result.jpg
test.png
tmp/*
!tmp/README.md
data/test_voc.txt
data/train_voc.txt
